div#TopSection {
    width: 600px;
    background-color: lightskyblue;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

div#MainSection {
    width: 600px;
    height: 300px;

}

div#EventSection {
    float: left;
    width: 350px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid black;
    border-right: 3px solid black;
}

div#UIControl {
    float: left;
    width: 234px;
    height: 290px;
    vertical-align: top;
    padding: 5px;
    line-height: 30px;
    border: 1px solid black;
}

input[type="text"] {
    width: 150px;
    float: right;
    clear: both;

}

form {
    width: 100%;
    clear: both;
}


div#BottomSection {
    width: 600px;
    background-color: lightskyblue;
    text-align: center
}